*{
    font-family:'Arial Narrow Bold', sans-serif;

}

@media (max-width: 767px) {

    body{
        background: rgb(90, 92, 90);
    }

    #centered-box {
        padding: 50px;
        border: 1px solid rgb(5, 5, 5);
        background-color: white;
        width: 65%; 
        margin: auto; 
        display: flex; 
        align-items: center; 
        justify-content: center;
        text-align: center;
        border-radius: 5px;
    }
    .input-bar {
        border: 1px solid rgb(58, 55, 55);
        padding: 4px;
        margin: 10px;
        background: white;
        display: flex;
    }
    .logoiniciosesion{
        margin-top: -50px;
        margin-left: 16px;
        width: 300px;
        height: 150px;
    }
    #barrausuario{
        width: 300px;
        height: 30px;
        display: block;
        margin-bottom: 30px;
        border-radius: 5px;
    }
    #barrapassword{
        width: 300px;
        height: 30px;
        display: block;
        border-radius: 5px;
    }
    #checkbox{
        margin-left: -210px;
        font-size: 15px;
    }
    #recuperarcontraseña{
        margin-top: -15px;
        text-align: right;
        padding-right: 12px;
        color: rgb(53, 172, 99);
        text-decoration: underline;
        display: block;
        margin-bottom: 20px;
        font-size: 15px;
        text-decoration: none;
    }
    #ENTRAR{
        background: rgb(53, 172, 99);
        width: 300px;
        height: 30px;
        margin: auto;
        margin-top: 30px;
        padding-top: 16px;
        border: 1PX solid rgb(58, 55, 55);
        text-decoration: none;
        color: white;
        font-size: 15px;
        display: block;
        align-items: center;
        margin-bottom: 20px;
        border-radius: 5px;
    }
    #ENTRAR:hover{
        background-color:  rgb(46, 146, 84);
    }
    #aunnotienescuenta{
        display: inline;
        font-size: 15px;
        color: rgb(58, 55, 55);
        margin-right: 10px;
    }
    #registrate{
        display: inline;
        font-size: 15px;
        text-align: center;
        color: rgb(53, 172, 99);
        text-decoration: none;
    }
    #oiniciasesion{
        margin-top: 35px;
        margin-bottom: 50px;
        display: block;
        font-size: 15px;
        text-align: center;
        color: rgb(58, 55, 55);
    }
    #FACEBOOK{
        border: 1PX solid rgb(58, 55, 55);
        padding: 12px 30px;
        text-decoration: none;
        color: rgb(59, 89, 152);
        border-radius: 5px;
        border: 1px solid rgb(59, 89, 152);
        font-size: 15px;
    }
    #FACEBOOK:hover{
        background-color:rgb(59, 89, 152);
        color: white;
    }
    #GOOGLE{
        border: 1PX solid rgb(219, 74, 57);
        padding: 12px 40px;
        text-decoration: none;
        color: rgb(219, 74, 57);
        border-radius: 5px;
        border: 1px solid rgb(219, 74, 57);
        font-size: 15px;
    }
    #GOOGLE:hover{
        background-color:rgb(219, 74, 57);
        color: white;
    }

    .idioma {
        display: inline-block;
        position: relative;
      }
      .botonesidioma {
        display: none;
        position: absolute;
        width: 100%;
        overflow: auto;
        box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
      }
      .idioma:hover .dropdown-content {
        display: block;
      }
      .botonesidioma a {
        display: block;
        color: #000000;
        padding: 5px;
        text-decoration: none;
      }
      .botonesidioma a:hover {
        color: #FFFFFF;
        background-color: #00A4BD;
      }
}    

@media (min-width: 768px) and (max-width: 991px) {

    body{
        background: rgb(90, 92, 90);
    }
    
    #centered-box {
        padding: 50px;
        border: 1px solid rgb(5, 5, 5);
        background-color: white;
        width: 50%; 
        margin: 0 auto; 
        display: flex; 
        align-items: center; 
        justify-content: center;
        text-align: center;
        border-radius: 5px;
    }
    .input-bar {
        border: 1px solid rgb(58, 55, 55);
        padding: 4px;
        margin: 10px;
        background: white;
        display: flex;
    }
    .logoiniciosesion{
        margin-top: -50px;
        margin-left: 16px;
        width: 300px;
        height: 150px;
    }
    #barrausuario{
        width: 300px;
        height: 30px;
        display: block;
        margin-bottom: 30px;
        border-radius: 5px;
    }
    #barrapassword{
        width: 300px;
        height: 30px;
        display: block;
        border-radius: 5px;
    }
    #checkbox{
        margin-left: -210px;
        font-size: 15px;
    }
    #recuperarcontraseña{
        margin-top: -15px;
        text-align: right;
        padding-right: 12px;
        color: rgb(53, 172, 99);
        text-decoration: underline;
        display: block;
        margin-bottom: 20px;
        font-size: 15px;
        text-decoration: none;
    }
    #ENTRAR{
        background: rgb(53, 172, 99);
        width: 300px;
        height: 30px;
        margin: auto;
        margin-top: 30px;
        padding-top: 16px;
        border: 1PX solid rgb(58, 55, 55);
        text-decoration: none;
        color: white;
        font-size: 15px;
        display: block;
        align-items: center;
        margin-bottom: 20px;
        border-radius: 5px;
    }
    #ENTRAR:hover{
        background-color:  rgb(46, 146, 84);
    }
    #aunnotienescuenta{
        display: inline;
        font-size: 15px;
        color: rgb(58, 55, 55);
        margin-right: 10px;
    }
    #registrate{
        display: inline;
        font-size: 15px;
        text-align: center;
        color: rgb(53, 172, 99);
        text-decoration: none;
    }
    #oiniciasesion{
        margin-top: 35px;
        margin-bottom: 50px;
        display: block;
        font-size: 15px;
        text-align: center;
        color: rgb(58, 55, 55);
    }
    #FACEBOOK{
        border: 1PX solid rgb(58, 55, 55);
        padding: 12px 30px;
        text-decoration: none;
        color: rgb(59, 89, 152);
        border-radius: 5px;
        border: 1px solid rgb(59, 89, 152);
        font-size: 15px;
    }
    #FACEBOOK:hover{
        background-color:rgb(59, 89, 152);
        color: white;
    }
    #GOOGLE{
        border: 1PX solid rgb(219, 74, 57);
        padding: 12px 40px;
        text-decoration: none;
        color: rgb(219, 74, 57);
        border-radius: 5px;
        border: 1px solid rgb(219, 74, 57);
        font-size: 15px;
    }
    #GOOGLE:hover{
        background-color:rgb(219, 74, 57);
        color: white;
    }

    .idioma {
        display: inline-block;
        position: relative;
      }
      .botonesidioma {
        display: none;
        position: absolute;
        width: 100%;
        overflow: auto;
        box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
      }
      .idioma:hover .botonesidioma {
        display: block;
      }
      .botonesidioma a {
        display: block;
        color: #000000;
        padding: 5px;
        text-decoration: none;
      }
      .botonesidioma a:hover {
        color: #FFFFFF;
        background-color: #00A4BD;
      }

}

@media (min-width: 991px) {

    body{
        background: rgb(90, 92, 90);
    }

    #centered-box {
        padding: 50px;
        border: 1px solid rgb(5, 5, 5);
        background-color: white;
        width: 25%; 
        margin: 0 auto; 
        display: flex; 
        align-items: center; 
        justify-content: center;
        text-align: center;
        border-radius: 5px;
        margin-top: 70px;
    }
    .input-bar {
        border: 1px solid rgb(58, 55, 55);
        padding: 4px;
        margin: 10px;
        background: white;
        display: flex;
    }
    .logoiniciosesion{
        margin-top: -50px;
        margin-left: 16px;
        width: 300px;
        height: 150px;
    }
    #barrausuario{
        width: 300px;
        height: 30px;
        display: block;
        margin-bottom: 30px;
        border-radius: 5px;
    }
    #barrapassword{
        width: 300px;
        height: 30px;
        display: block;
        border-radius: 5px;
    }
    #checkbox{
        margin-left: -210px;
        font-size: 15px;
    }
    #recuperarcontraseña{
        margin-top: -15px;
        text-align: right;
        padding-right: 12px;
        color: rgb(53, 172, 99);
        text-decoration: underline;
        display: block;
        margin-bottom: 20px;
        font-size: 15px;
        text-decoration: none;
    }
    #ENTRAR{
        background: rgb(53, 172, 99);
        width: 300px;
        height: 30px;
        margin: auto;
        margin-top: 30px;
        padding-top: 16px;
        border: 1PX solid rgb(58, 55, 55);
        text-decoration: none;
        color: white;
        font-size: 15px;
        display: block;
        align-items: center;
        margin-bottom: 20px;
        border-radius: 5px;
    }
    #ENTRAR:hover{
        background-color:  rgb(46, 146, 84);
    }
    #aunnotienescuenta{
        display: inline;
        font-size: 15px;
        color: rgb(58, 55, 55);
        margin-right: 10px;
    }
    #registrate{
        display: inline;
        font-size: 15px;
        text-align: center;
        color: rgb(53, 172, 99);
        text-decoration: none;
    }
    #oiniciasesion{
        margin-top: 35px;
        margin-bottom: 50px;
        display: block;
        font-size: 15px;
        text-align: center;
        color: rgb(58, 55, 55);
    }
    #FACEBOOK{
        border: 1PX solid rgb(58, 55, 55);
        padding: 12px 30px;
        text-decoration: none;
        color: rgb(59, 89, 152);
        border-radius: 5px;
        border: 1px solid rgb(59, 89, 152);
        font-size: 15px;
    }
    #FACEBOOK:hover{
        background-color:rgb(59, 89, 152);
        color: white;
    }
    #GOOGLE{
        border: 1PX solid rgb(219, 74, 57);
        padding: 12px 40px;
        text-decoration: none;
        color: rgb(219, 74, 57);
        border-radius: 5px;
        border: 1px solid rgb(219, 74, 57);
        font-size: 15px;
    }
    #GOOGLE:hover{
        background-color:rgb(219, 74, 57);
        color: white;
    }

    .idioma {
        display: inline-block;
        position: relative;
      }
      .botonesidioma {
        display: none;
        position: absolute;
        width: 100%;
        overflow: auto;
        box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
      }
      .idioma:hover .dropdown-content {
        display: block;
      }
      .botonesidioma a {
        display: block;
        color: #000000;
        padding: 5px;
        text-decoration: none;
      }
      .botonesidioma a:hover {
        color: #FFFFFF;
        background-color: #00A4BD;
      }
}


